body {
    margin-left: 15%;
    margin-right: 15%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}
.button-group{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
}

.member-side a{
    margin-right: 15px;
}

.logo{
    height: 85px;
}

.search{
    align-items: center;
    justify-content: center;
    width: 500px;
}

.head-menu .container-fluid .center-side ul {
    justify-content: center;
}

.button-group button{
    border: 0;
    background-color: white;
    margin-top: 10px;
    font-style: italic;
}

.button-group button:hover{
    text-decoration: underline;
    position: relative;
    right: -10px;
}