.logo{
    height: 85px;
    width: 120px;
}

.content{
    margin-left: 15%;
    margin-right: 15%;
}

.font{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

.search{
    width: 350px;
    align-items: center;
    justify-content: center;
}